body {
    background-color: #0D0F1A;
}

.container {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.authentication {
    height: 80vh;
    width: 65%;
    background-color: rgba(137, 126, 126, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px #71717166;
    color: #eee;
}

.registration {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.login {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    color: #eee;
    align-items: center;
}

.form h1, .form label , .form a{
    text-align: left; 
    width: 90%; 
    text-decoration: none;
    color: #eee;
}

.form h1{
    margin: 10px ;
    font-size: 40px;
    text-align: center;
}

.form h2{
    margin: 10px ;
    font-size: 40px;
    text-align: center;
}

.registration{
    text-align: center;
}

.decoration {
    width: 35%;
    height: 100%;
    background: radial-gradient(circle at center, #58385d33, #262c4b);
    margin: auto;
    border-radius: 30px 0 0 30px;
    border-right: 1px solid #71717166;
    display: flex;
    justify-content: center;
    align-items: CENTER;
}

.formLogo{
    height: 50%;
}

.input-data {
    padding: 10px 10px;
    width: 90%;
    margin: 10px 25px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #eee;
}

.input-data::placeholder{
    color: #89CFF0;
}

.input-submit{
    padding: 15px 20px;
    width: 40%;
    margin: 20px 10px;
    border-radius: 20px;
    background-color: #00f0ff;
    border: none;
    transition: 0.7s;
}

.input-submit:hover{
    background-color: #f04e5c;
}

.input-data:focus{
    outline: none;
    color: #eee;
}

.change{
    background-color: transparent;
    border: none;
    color: #89CFF0;
    cursor: pointer;
}

@media (max-width:576px) {
    .container {
        height: 100vh;
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .authentication {
        height: auto;
        width: 90%;
        background-color: rgba(137, 126, 126, 0.1);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0 0 5px 2px #71717166;
        color: #eee;
        padding: 20px 0;
    }

    .decoration {
    width: 100%;
    background: radial-gradient(circle at 100% 100%, #58385d33, #262c4b);
    margin: auto;
    border-right: 1px solid #71717166;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px 20px;
    }
    .formLogo{
        height: 50px;
    }

    .registration {
        width: 95%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: none;
        padding: 20px 10px;
    }
    .input-submit{
        padding: 10px 20px;
        width: 60%;
        margin: 20px 10px;
        border-radius: 20px;
        background-color: #00f0ff;
        border: none;
        transition: 0.7s;
    }

    .input-data {
        padding: 10px 10px;
        width: 100%;
        margin: 10px 25px;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #eee;
    }

    .login {
        width: 95%;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-submit:hover{
        background-color: #f04e5c;
    }           
}

@media (min-width: 577px) and (max-width: 1024px) {
    .container {
        height: 100vh;
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .authentication {
        height: auto;
        width: 70%;
        background-color: rgba(137, 126, 126, 0.1);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0 0 5px 2px #71717166;
        color: #eee;
        padding: 20px 0;
    }

    .decoration {
    width: 100%;
    height: auto;
    background: radial-gradient(circle at 100% 100%, #58385d33, #262c4b);
    margin: auto;
    border-right: 1px solid #71717166;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px 20px;
    }
    .formLogo{
        height: 7vh;
    }

    .registration {
        width: 95%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: none;
        padding: 20px 10px;
    }
    .input-submit{
        padding: 10px 20px;
        width: 60%;
        margin: 20px 10px;
        border-radius: 20px;
        background-color: #00f0ff;
        border: none;
        transition: 0.7s;
    }

    .input-data {
        padding: 10px 10px;
        width: 100%;
        margin: 10px 25px;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #eee;
    }

    .login {
        width: 95%;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .registration h2{
        text-align: center;
        margin: 10px auto;
        font-size: 40px;
    }

    .input-submit:hover{
        background-color: #f04e5c;
    }           
}

